.message-item {
  display: flex;
  width: 100%;

  &.speaking{
    .message-bubble{
      border: 1px solid #f99;
      box-shadow: 0 0 10px #f99!important;
      transform: translateY(-3px)!important;
    }
  }

  &.user {
    justify-content: flex-end;
    .message-bubble {
      background-color: #cde2f9;
      color: white;
      border-radius: 18px 18px 2px 18px;
    }
  }

  &.assistant {
    justify-content: flex-start;
    .message-bubble {
      background-color: #e9e9eb;
      color: black;
      border-radius: 18px 18px 18px 2px;
    }
  }

  .message-bubble {
    max-width: 80%;
    padding: 10px 14px;
    font-size: 16px;
    line-height: 1.4;
    word-wrap: break-word;
    cursor: pointer;
    transition: .3s ease;
    &:hover{
      box-shadow: 0 0 10px #ddd;
      transform: translateY(-3px);
    }
    .message-area .markdown-content{
      margin: 0;
      font-size: 16px;
    }
  }
}
