.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: rgba(0, 0, 0, 0.05);
  color: #333;

  border-radius: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.dark-mode {
    background-color: rgba(255, 255, 255, 0.1);
    color: #eee;
    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}
